[submodule "server/punica_kernels/third_party/cutlass"]
	path = server/punica_kernels/third_party/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "server/punica_kernels/third_party/flashinfer"]
	path = server/punica_kernels/third_party/flashinfer
	url = https://github.com/tgaddair/flashinfer.git
