repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.4.0  # Use the latest revision
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-yaml
- repo: https://github.com/psf/black
  rev: 24.2.0
  hooks:
  - id: black
    name: Format code
    args:
      - --line-length=120
- repo: https://github.com/pycqa/flake8
  rev: 7.0.0
  hooks:
  - id: flake8
    name: flake8
    args: ['--max-line-length=120']
