aiohappyeyeballs==2.5.0 ; python_version >= "3.9" and python_version < "4.0"
aiohttp==3.10.11 ; python_version >= "3.9" and python_version < "4.0"
aiosignal==1.3.2 ; python_version >= "3.9" and python_version < "4.0"
async-timeout==5.0.1 ; python_version >= "3.9" and python_version < "3.11"
attrs==25.1.0 ; python_version >= "3.9" and python_version < "4.0"
backoff==2.2.1 ; python_version >= "3.9" and python_version < "4.0"
boto3==1.37.8 ; python_version >= "3.9" and python_version < "4.0"
botocore==1.37.8 ; python_version >= "3.9" and python_version < "4.0"
certifi==2025.1.31 ; python_version >= "3.9" and python_version < "4.0"
charset-normalizer==3.4.1 ; python_version >= "3.9" and python_version < "4.0"
click==8.1.8 ; python_version >= "3.9" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.9" and python_version < "4.0" and (sys_platform == "win32" or platform_system == "Windows")
deprecated==1.2.18 ; python_version >= "3.9" and python_version < "4.0"
einops==0.6.1 ; python_version >= "3.9" and python_version < "4.0"
filelock==3.17.0 ; python_version >= "3.9" and python_version < "4.0"
frozenlist==1.5.0 ; python_version >= "3.9" and python_version < "4.0"
fsspec==2025.2.0 ; python_version >= "3.9" and python_version < "4.0"
googleapis-common-protos==1.69.1 ; python_version >= "3.9" and python_version < "4.0"
grpc-interceptor==0.15.4 ; python_version >= "3.9" and python_version < "4.0"
grpcio-reflection==1.62.3 ; python_version >= "3.9" and python_version < "4.0"
grpcio-status==1.62.3 ; python_version >= "3.9" and python_version < "4.0"
grpcio==1.70.0 ; python_version >= "3.9" and python_version < "4.0"
hf-transfer==0.1.9 ; python_version >= "3.9" and python_version < "4.0"
huggingface-hub==0.26.5 ; python_version >= "3.9" and python_version < "4.0"
idna==3.10 ; python_version >= "3.9" and python_version < "4.0"
importlib-metadata==6.11.0 ; python_version >= "3.9" and python_version < "4.0"
jinja2==3.1.6 ; python_version >= "3.9" and python_version < "4.0"
jmespath==1.0.1 ; python_version >= "3.9" and python_version < "4.0"
loguru==0.6.0 ; python_version >= "3.9" and python_version < "4.0"
markupsafe==3.0.2 ; python_version >= "3.9" and python_version < "4.0"
mpmath==1.3.0 ; python_version >= "3.9" and python_version < "4.0"
msgspec
multidict==6.1.0 ; python_version >= "3.9" and python_version < "4.0"
networkx==3.2.1 ; python_version >= "3.9" and python_version < "4.0"
numpy==1.26.4 ; python_version >= "3.9" and python_version < "4.0"
opentelemetry-api==1.21.0 ; python_version >= "3.9" and python_version < "4.0"
opentelemetry-exporter-otlp-proto-common==1.21.0 ; python_version >= "3.9" and python_version < "4.0"
opentelemetry-exporter-otlp-proto-grpc==1.21.0 ; python_version >= "3.9" and python_version < "4.0"
opentelemetry-exporter-otlp-proto-http==1.21.0 ; python_version >= "3.9" and python_version < "4.0"
opentelemetry-exporter-otlp==1.21.0 ; python_version >= "3.9" and python_version < "4.0"
opentelemetry-instrumentation-grpc==0.42b0 ; python_version >= "3.9" and python_version < "4.0"
opentelemetry-instrumentation==0.42b0 ; python_version >= "3.9" and python_version < "4.0"
opentelemetry-proto==1.21.0 ; python_version >= "3.9" and python_version < "4.0"
opentelemetry-sdk==1.21.0 ; python_version >= "3.9" and python_version < "4.0"
opentelemetry-semantic-conventions==0.42b0 ; python_version >= "3.9" and python_version < "4.0"
packaging==24.2 ; python_version >= "3.9" and python_version < "4.0"
pillow==10.4.0 ; python_version >= "3.9" and python_version < "4.0"
prometheus-client==0.20.0 ; python_version >= "3.9" and python_version < "4.0"
propcache==0.3.0 ; python_version >= "3.9" and python_version < "4.0"
protobuf==4.25.6 ; python_version >= "3.9" and python_version < "4.0"
py-cpuinfo==9.0.0 ; python_version >= "3.9" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.9" and python_version < "4.0"
pyyaml==6.0.2 ; python_version >= "3.9" and python_version < "4.0"
regex==2024.11.6 ; python_version >= "3.9" and python_version < "4.0"
requests==2.32.3 ; python_version >= "3.9" and python_version < "4.0"
s3transfer==0.11.4 ; python_version >= "3.9" and python_version < "4.0"
safetensors==0.4.2 ; python_version >= "3.9" and python_version < "4.0"
sentencepiece==0.2.0 ; python_version >= "3.9" and python_version < "4.0"
setuptools==75.8.2 ; python_version >= "3.9" and python_version < "4.0"
six==1.17.0 ; python_version >= "3.9" and python_version < "4.0"
stanford-stk==0.7.1 ; python_version >= "3.9" and python_version < "4.0" and sys_platform == "linux"
sympy==1.13.3 ; python_version >= "3.9" and python_version < "4.0"
tiktoken==0.5.2 ; python_version >= "3.9" and python_version < "4.0"
tokenizers==0.21.0 ; python_version >= "3.9" and python_version < "4.0"
tqdm==4.67.1 ; python_version >= "3.9" and python_version < "4.0"
transformers==4.49.0 ; python_version >= "3.9" and python_version < "4.0"
triton==3.0.0 ; python_version >= "3.9" and sys_platform == "linux" and python_version < "4.0" or python_version >= "3.9" and python_version < "3.13" and platform_machine == "x86_64" and platform_system == "Linux"
typer==0.6.1 ; python_version >= "3.9" and python_version < "4.0"
typing-extensions==4.12.2 ; python_version >= "3.9" and python_version < "4.0"
urllib3==1.26.19 ; python_version >= "3.9" and python_version < "4.0"
win32-setctime==1.2.0 ; python_version >= "3.9" and python_version < "4.0" and sys_platform == "win32"
wrapt==1.17.2 ; python_version >= "3.9" and python_version < "4.0"
yarl==1.18.3 ; python_version >= "3.9" and python_version < "4.0"
zipp==3.21.0 ; python_version >= "3.9" and python_version < "4.0"
outlines==0.1.1 ; python_version >= "3.9" and python_version < "4.0"
